@keyframes fadeIn {
  from {
opacity: 0
  }
  to {
    opacity: 1;
  }
}
.user-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  animation: fadeIn 0.3s ease-in-out;
  background: linear-gradient(to top, #ffe4d8 0%, #ace0f9 100%);
}

.heading {
  text-align: center;
  margin-bottom: 2  0px;
  font-size: 2rem;
  color: #333;
}

.user-profile {
  width: 100%;
  padding: 0 20px;
  text-align: center;
}

.profile-container {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.profile-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  min-width: 350px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  transition: transform 0.3s ease, box-shadow 0.4s ease;
  animation: fadeIn 1s ease;
  align-items: left;
}

@media (max-width: 768px) {
  .heading{
    margin-top: -20px;
  }
  .profile-box {
    width: 95%;
  }
  .profile-pic-container {
    margin-top: -25px;
  }
  .profile-pic {
    width: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 40px;
  }
  .profile-container {
    margin-top: -20px;
    margin-bottom: -20px;
  }
}

@media (max-width: 480px) {
  .profile-box {
    width: 100%;
  }
}

.profile-pic-container {
  text-align: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: auto;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin-top: 50px;
}

form {
  margin-top: 20px;
  padding-top: 15px;
}

button {
  margin-top: 20px;
}
.form-label {
  text-align: left;
  display: block;
  padding-top: 4px;
  padding-bottom: 5px;
  margin-bottom: 0rem;
}
.form-control{
  width: 100%;
}
.edit-pic-button {
  display: block;
  margin-top: 10px;
  width: auto;
  max-width: 150px;
  margin: 10px auto;
}